@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    color: white;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: linear-gradient(to bottom, rgb(112, 188, 146), rgb(54, 54, 138));
}

h1 {
    font-weight: 450;
    text-shadow: 0.0625rem 0.0625rem 0.4rem rgb(70, 70, 70);
}

p {
    font-weight: 200;
    font-size: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.4rem rgb(70, 70, 70);
    text-align: center;
}

label {
    color: black;
    font-weight: 200;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    background-color: rgb(78, 132, 102);
    transition: 0.4s;
}

button:hover {
    background-color: rgb(60, 101, 78);
}


