form {
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    max-width: 450px;
    box-shadow: 0rem 0rem 0.4rem rgb(58, 58, 58);
}

@media screen and (max-width: 1200px){
    form {
        width: 45%;
    }
}

@media screen and (max-width: 800px){
    form {
        width: 80%;
    }
}

h2 {
    color: rgb(78, 132, 102);
    font-weight: 500;
    font-size: 2rem;
}

.container-inputs-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

#username-input, #password-input, #name-input {
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    border: solid 0.0625rem rgb(137, 137, 137);
    border-radius: 0.5rem;
    outline: none;
}

.container-input-show {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}

#checkbox-input {
    width: 0.9rem;
    height: 0.9rem;
    margin-top: 0.0675rem;
}

.container-inputs-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 70%;
}

button {
    width: 70%;
    border-radius: 0.5rem;
}

small {
    font-size: 0.8rem;
    font-weight: 300;
    color: black;
}